<!DOCTYPE html>
<html lang="en-US">

<head>

  <title>WIKI Newsletter</title>
  <meta charset="UTF-8">
  <meta name="description" content="Wikipedia daily Newsletter">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000">

  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">

</head>

<body>
  <div class="container">
        {% if header %}
            <h3 class="">{{ header }}</h3>
        {% endif %}
        <br>
        
        {% if text %}
            <p>{{ text }}</p>
        {% endif %}
    </div>
  </div>
</body>

</html>